{% extends 'base.html' %}
{% load static %}
{% block style %}

<style></style>
{% endblock %}
{% block content %}

<main id="web_content_wrp">
    <section class="hero_banner_wrp">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <div class="hero_banner_detail">
                        <h1>Get measurable results from online marketing</h1>
                        <p>Do SEO, content marketing, competitor research,
                            PPC and social media marketing from just one platform.</p>
                    </div>
                    <div class="user_data_country_info_wrp">
                        <div class="input_data_country">
                            <input type="" class="form-control" id="" aria-describedby="">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>

                            </select>
                        </div>
                        <div class="start_button">
                            <button type="button" class="btn">Start now</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section class="whats_inside">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="web_title">
                        <h1>See what's inside</h1>
                    </div>
                </div>
                <div class="col-lg-10 mx-auto">
                    <div class="inside_tab_wrp">
                        <ul class="menu-nav nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-seo-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-seo" type="button" role="tab" aria-controls="pills-seo"
                                    aria-selected="true">SEO</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-marketing-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-marketing" type="button" role="tab"
                                    aria-controls="pills-marketing" aria-selected="false">Content Marketing</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-research-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-research" type="button" role="tab"
                                    aria-controls="pills-research" aria-selected="false">Market Research</button>
                            </li>
                            <li>
                                <button class="nav-link" id="pills-advertising-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-advertising" type="button" role="tab"
                                    aria-controls="pills-advertising" aria-selected="false">Advertising</button>
                            </li>
                            <li>
                                <button class="nav-link" id="pills-social-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-social" type="button" role="tab" aria-controls="pills-social"
                                    aria-selected="false">Social Media</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-seo" role="tabpanel"
                                aria-labelledby="pills-seo-tab">
                                <div class="item_box">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="item_wrp">
                                                <h3>Unveil your competitors’ marketing strategy and tactics</h3>
                                                <ul class="item_list">
                                                    <li>Analyze traffic of any website</li>
                                                    <li>Unveil competitor promotion strategies</li>
                                                    <li>Get ideas for growing your market share</li>
                                                    <li>Discover keyword &amp; backlink gap</li>
                                                </ul>
                                                <div class="item_button">
                                                    <button type="button" class="btn">Try SEO
                                                        Toolkit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-marketing" role="tabpanel"
                                aria-labelledby="pills-marketing-tab">
                                <div class="item_box">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="item_wrp">
                                                <h3>Create content that ranks (no expert knowledge required)</h3>
                                                <ul class="item_list">
                                                    <li>Find topics that resonate with your audience</li>
                                                    <li>Get actionable tips to create SEO-friendly content</li>
                                                    <li>Audit and improve your content based on real-time metrics</li>
                                                    <li>Track brand mentions and content reach</li>
                                                </ul>
                                                <div class="item_button">
                                                    <button type="button" class="btn">Try Content Marketing
                                                        Toolkit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-research" role="tabpanel"
                                aria-labelledby="pills-research-tab">
                                <div class="item_box">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="item_wrp">
                                                <h3>Unveil your competitors’ marketing strategy and tactics</h3>
                                                <ul class="item_list">
                                                    <li>Analyze traffic of any website</li>
                                                    <li>Unveil competitor promotion strategies</li>
                                                    <li>Get ideas for growing your market share</li>
                                                    <li>Discover keyword &amp; backlink gap</li>
                                                </ul>
                                                <div class="item_button">
                                                    <button type="button" class="btn">Try Competitive Research
                                                        Toolkit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-advertising" role="tabpanel"
                                aria-labelledby="pills-advertising-tab">
                                <div class="item_box">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="item_wrp">
                                                <h3>Discover how to reach more prospects while spending less</h3>
                                                <ul class="item_list">
                                                    <li>Find the best keywords for every PPC campaign</li>
                                                    <li>Monitor your competitor’s ad copies and landing pages</li>
                                                    <li>Optimize your Advertising spend (at a local level)</li>
                                                    <li>Analyze Google Shopping ad campaigns</li>
                                                </ul>
                                                <div class="item_button">
                                                    <button type="button" class="btn">Try Advertising Toolkit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-social" role="tabpanel"
                                aria-labelledby="pills-social-tab">
                                <div class="item_box">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="item_wrp">
                                                <h3>Build your most effective social media strategy</h3>
                                                <ul class="item_list">
                                                    <li>Schedule and post content on social media</li>
                                                    <li>Analyze the performance of your posts</li>
                                                    <li>Track &amp; analyze competitor accounts</li>
                                                    <li>Create &amp; optimize social ads</li>
                                                </ul>
                                                <div class="item_button">
                                                    <button type="button" class="btn">Try Social Media Toolkit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="data_insights">
        <div class="container">
            {% include "messages.html" %}
            <div class="row">
                <div class="col-lg-7">
                    <div class="data_insights_wrp">
                        <h1>More data. More insights.</h1>
                        <p>With the size of our SEO databases and speed of our backlink crawler, imagine what you can
                            achieve if you have the insights your competitors don’t.</p>
                        <button type="button" class="btn">Learn more</button>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="data_insights_list_wrp">
                        <div class="data_insights_box">
                            <div class="data_insights_number"><span>20B</span></div>
                            <div class="data_insights_title"><span>keywords</span></div>
                        </div>
                        <div class="data_insights_box">
                            <div class="data_insights_number"><span>43T</span></div>
                            <div class="data_insights_title"><span>backlinks</span></div>
                        </div>
                        <div class="data_insights_box">
                            <div class="data_insights_number"><span>800M</span></div>
                            <div class="data_insights_title"><span>domain profiles</span></div>
                        </div>
                        <div class="data_insights_box">
                            <div class="data_insights_number"><span>140</span></div>
                            <div class="data_insights_title"><span>geo databases</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="free_trial">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="free_trial_wrp">
                        <h1>Get started with Semrush today</h1>
                        <p>Get 7 days of full access to all toolkits. Cancel anytime.</p>
                        <div>
                            <button type="button" class="btn"> Start your free trial</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}